<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude}%2C#{@location.longitude}&zoom=14&size=400x400&sensor=false"%>

<h3>Nearby Locations</h3>
<ul>
<% for location in @location.nearbys(20)%>
	<li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>

<p>
	<%= link_to 'Edit', edit_location_path(@location) %> |
	<%= link_to 'Destroy', @location, :confirm => 'Are you sure?', :method => :delete %>
	<%= link_to 'View All', locations_path %>
</p>
